
<nav class="bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-600">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="https://github.com/Vladeas" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo">
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Resume</span>
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <% if current_user %>  <!--dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800-->
        <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-800 font-medium rounded-lg text-sm px-4 py-2 text-center" %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-800 font-medium rounded-lg text-sm px-4 py-2 text-center" %>
      <% end %>
      <%= link_to "Admin", admin_root_path, class: "text-blue bg-white hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 mx-2 text-center dark:bg-white-600 dark:hover:bg-gray-200 dark:focus:ring-blue-800 " %>
      
      
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <%= link_to "Home", root_path, class: "block py-2 px-3 text-white bg-blue-700 rounded-sm md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500", "aria-current": "page"%>
        </li>
        <li>
          <%= link_to "Projects", user_projects_path, class: "block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" %>
        </li>
        <li>
          <%= link_to "Notes & Ideas", user_notes_path, class: "block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" %>
        </li>
        <li>
          <%= link_to "Contact", root_path, class: "block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" %>
        </li>
      </ul>
    </div>
  </div>
  <div id="mobile-menu" class="md:hidden">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <%= link_to "Home", root_path, class: "block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" %>
      <%= link_to "Projects", user_projects_path, class: "block rounded-md px-3 py-2 text-white font-medium text-gray-300 hover:bg-gray-700 hover:text-white" %>
      <%= link_to "Notes & Ideas", user_notes_path, class: "block rounded-md px-3 py-2 text-white font-medium text-gray-300 hover:bg-gray-700 hover:text-white" %>
      <%= link_to "Contact", root_path, class: "block rounded-md px-3 py-2 text-white font-medium text-gray-300 hover:bg-gray-700 hover:text-white" %>
    </div>
  </div>
</nav>